@import './../../styles/global.scss';

.input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color: $inputBGColor;
  padding: 13px 20px;
  color: $mainTextColor;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  &::placeholder {
    color: $inactiveTextColor30;
  }

  &_error {
    border: 2px solid $errorColor;
  }

  &_type_password {
    font-weight: 800;
    letter-spacing: 2.8px;
    &::placeholder {
      font-weight: 500;
      letter-spacing: normal;
    }
  }

  &:focus {
    outline: none;
  }
}
