@import './../../styles/global.scss';

.burger-menu-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;

  & svg {
    width: 30px;
    height: 30px;
    stroke: $mainTextColor;
    stroke-width: 2px;
    transition: stroke 0.3s ease-in-out;
    &:hover {
      stroke: $activeLinkColor;
    }
  }
}

@media screen and (max-width: $breakpointMobile) {
  .burger-menu-btn svg {
    stroke-width: 1.5px;
  }
}
