@import './../../styles/global.scss';

.burger-menu-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  transition: opacity 0.3s ease-in-out;

  & svg {
    width: 30px;
    height: 30px;
    stroke: $mainTextColor;
    stroke-width: 2px;
  }

  &:hover {
    opacity: 0.6;
  }
}

@media screen and (max-width: 768px) {
  .burger-menu-btn svg {
    stroke-width: 1.5px;
  }
}
